
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
}
h1{
    color: #4c956c;
    margin-bottom: 70px;
}

#alert-box{
    background-color: white;
    border: 0px;
    position: absolute;
    margin-top: -60px;
    margin-left: 80px;
    font-size: 20px;
}

h2{
    text-align: center;
    margin-top: 70px;
    color: #4c956c;
}
form{
    width: 60%;
}


label{
  font-size: 1.1em;
  color: #4c956c;
}

input{
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.6;  
}

.table{
    width: 60%;
}

th,td{
    text-align: center;
}
.btnsubmit{
    width: 100%;
    border: 1px solid #4c956c;
    color: #4c956c;
    
}

.btnsubmit:hover{
    background-color: #4c956c;
    color: white;
    
}
.alert{
    width: 60%;
}
#cajaa{
    text-align: center;
}

